.add-goods {
  text-align: center;
  border-bottom: 1px solid #ededed;
  padding-bottom: 37px;
}

.add-goods__header {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.add-goods__img {
  width: 31px;
  height: 31px;
  opacity: 0.2;
}

.add-goods__img-wrapper {
  margin: 26px 145px;
}

.add-goods__show-goods {
  color: #111111;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.add-goods__show-adv {
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  padding-bottom: 22px;
}

.add-goods__show {
  background-color: #f2f2f2;
  padding: 13px 94px 12px 97px;
}

/* планшетная версия */
@media (min-width: 768px) {
  .add-goods {
    padding: 0;
    margin-right: 30px;
    margin-top: 140px;
    border-bottom: none;
    position: relative;
  }

  .add-goods::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 30px;
    width: 324px;
    height: 432px;
    border: 1px solid rgba(205, 205, 205, 0.5);
  }

  .add-goods__img {
    width: 61px;
    height: 61px;
    opacity: 0.2;
  }

  .add-goods__img-wrapper {
    margin: 55px 130px 50px 153px;
  }

  .add-goods__show-goods {
    font-size: 20px;
    line-height: 1;
    text-align: center;
    color: #111111;
    margin: 0 auto;
    padding-left: 116px;
    padding-right: 95px;
    margin-bottom: 28px;
  }

  .add-goods__show-adv {
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 79px;
    font-size: 16px;
    color: #444444;
    padding-bottom: 85px;
  }

  .add-goods__show {
    padding: 13px 79px 12px 81px;
    margin-left: 38px;
  }
}

/* десктопная версия */
@media (min-width: 1300px) {
  .add-goods::after {
    width: 245px;
  }

  .add-goods__show-goods {
    padding-left: 56px;
    padding-right: 46px;
  }

  .add-goods__show-adv {
    padding-left: 50px;
    padding-right: 40px;
  }

  .add-goods__show {
    padding: 13px 39px 12px 41px;
    margin-left: 20px;
  }

  .add-goods__img {
    width: 61px;
    height: 61px;
    opacity: 1;
  }
}
