.catalog__header {
  color: #111111;
  font-size: 36px;
  font-weight: 400;
  padding: 32px 40px 35px 22px;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.catalog__list-item {
  padding: 25px 20px;
  border-bottom: 1px solid #ededed;
}

.catalog__wrapper {
  display: flex;
}

.catalog__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog__order {
  display: inline-block;
  text-decoration: none;
  background-color: #68b738;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  padding: 13px 108px 12px 111px;
  text-align: center;
  cursor: pointer;
}

.catalog__img {
  width: 140px;
  height: 144px;
}

.catalog__table-header {
  color: #111111;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog__table {
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.catalog__table-data {
  min-width: 70px;
}

.catalog__table:nth-child(even) {
  text-align: right;
}

/* планшетная версия */
@media (min-width: 768px) {
  .catalog {
    margin-left: 0;
  }

  .catalog__header {
    text-align: left;
    padding-top: 0;
    padding-left: 33px;
    font-size: 60px;
    line-height: 60px;
    border-bottom: none;
  }

  .catalog__list {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .catalog__list-item {
    width: 50%;
    border-bottom: none;
    padding: 58px 30px 0 30px;
    position: relative;
    z-index: 1;
  }

  .catalog__list-item::after {
    content: "";
    position: absolute;
    top: 142px;
    left: 30px;
    width: 324px;
    height: 432px;
    background: #f2f2f2;
    z-index: -1;
  }

  .catalog__wrapper {
    flex-direction: column;
  }

  .catalog__list-item:nth-child(odd) .catalog__img {
    margin-top: 36px;
    min-width: 324px;
    height: 172px;
  }

  .catalog__list-item:nth-child(even) .catalog__img {
    min-width: 324px;
    height: 208px;
  }

  .catalog__table-wrapper {
    min-width: 324px;
  }

  .catalog__table {
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
    border-collapse: collapse;
  }

  .catalog__order {
    display: inline-block;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 38px;
    padding: 13px 93px 12px 95px;
    line-height: 1.25;
  }

  .catalog__table-header {
    font-size: 20px;
  }

  .catalog__table-data {
    min-width: 124px;
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .catalog__table-data:nth-child(odd) {
    text-align: left;
  }

  .catalog__table-raw {
    border-bottom: 1px solid #cdcdcd;
  }
}

/* десктопная версия */
@media (min-width: 1300px) {
  .site-list__link-catalog {
    color: #111111;
  }

  .catalog__header {
    padding-left: 113px;
    padding-bottom: 75px;
    padding-top: 51px;
  }

  .catalog__list {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .catalog__list-item {
    width: 25%;
  }

  .catalog__list-item:first-child {
    margin-left: 80px;
  }

  .catalog__list-item:nth-child(5) {
    margin-left: 80px;
  }

  .catalog__table-data {
    min-width: 84.5px;
  }

  .catalog__order {
    padding-left: 53px;
    padding-right: 55px;
  }

  .catalog__list-item::after {
    width: 245px;
  }

  .catalog__list-item:nth-child(odd) .catalog__img {
    min-width: 245px;
  }

  .catalog__list-item:nth-child(even) .catalog__img {
    min-width: 245px;
  }

  .catalog__table-wrapper {
    min-width: 245px;
  }
}
